@include ns('form-design') {
  &-center {
    flex: 1;
    overflow: hidden;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    background-color: #eee;

    @include ns('actions') {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      padding: 10px;
      border-bottom: 1px solid #eee;
    }

    @include ns('canvas') {
      flex: 1;
      margin: 15px;
      position: relative;
      overflow: hidden;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
