@include ns('form-design') {
  &-right {
    width: 22%;
    min-width: 300px;
    overflow: auto;
    padding: 20px;

    @include ns('attr') {
      padding-bottom: 20px;

      @include ns('linkageConfig') {
        padding-top: 30px;
        &-btns {
          text-align: center;
        }
      }

      @include ns('style-config') {
        text-align: center;
        padding-top: 20px;
      }
    }
  }
}
