@include ns('form-item') {
  margin-bottom: 18px;

  &-label {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    &-ico {
      margin-left: 3px;
      font-size: 15px;
      position: relative;
      .el-tooltip__trigger {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &-suffix {
      margin-left: 3px;
    }
  }
}

@include ns('form-item-layout') {
  margin-bottom: 18px;
}