$namespace: 'mf' !default;

@mixin ns($cls) {
  $NS: $namespace + '-' + $cls;

  .#{$NS} {
    @content;
  }
}

$themeColor: #409eff !default;
$lightThemeColor: rgb(235.9, 245.3, 255) !default;
$bgColor: #fff !default;

@import './form-render.scss';

@import './icon-render.scss';

@import './form-design/index.scss';
@import './components/index.scss';
