@include ns('form-design') {
  &-left {
    width: 18%;
    padding: 10px;
    position: relative;
    overflow: auto;

    @include ns('template') {
      &-button {
        position: absolute;
        right: 10px;
        top: 15px;
      }

      &-drawer {
        position: absolute;
        text-align: left;
      }

      .el-overlay {
        position: absolute;
      }
    }

    @include ns('menu') {
      margin-bottom: 10px !important;
      margin-top: 10px !important;

      &-title {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
      }

      &-list {
        &-ghost,
        &-fallback,
        &-drag {
          list-style: none;
        }

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media screen and (max-width: 1300px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 800px) {
          grid-template-columns: repeat(1, 1fr);
        }
        gap: 10px;
        width: 100%;
        padding-left: 0;

        &-item {
          list-style: none;
          padding: 5px 0px;
          cursor: move;
          border: 1px dashed transparent;
          transition: 0.3s all;
          &:hover {
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
            color: var(--el-color-primary);
          }
          background-color: var(--el-color-primary-light-9);
          text-align: center;
          &-ico {
            height: 40px;
            display: flex;
            align-items: center;
            font-size: 20px;
            justify-content: center;
            .ico-content {
              display: inline-block;
              width: 1em;
              height: 1em;
              overflow: hidden;
              fill: currentColor;
            }
          }
          &-name {
            font-size: 13px;
          }
        }
      }
    }
  }
}
