$themeColor: var(--el-color-primary);
$lightThemeColor: var(--el-color-primary-light-9);
$successColor: var(--el-color-success);
$lightSuccessColor: var(--el-color-success-light-9);
$dangerColor: var(--el-color-danger);
$bgColor: var(--el-bg-color);


@import '@vue-form-craft/styles';

@include ns('form-design') {
  &-left {
    .el-overlay {
      position: absolute;
    }
  }

  &-tabs {
    border: none;
    height: 100%;
    box-sizing: border-box;
    .el-tabs__content {
      padding: 0 !important;
    }
    .el-tab-pane {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 15px;
      box-sizing: border-box;
    }
  }
}
