$themeColor: var(--el-color-primary);
$lightThemeColor: var(--el-color-primary-light-9);
$bgColor: var(--el-bg-color);
$dangerColor: var(--el-color-danger);

@import '@form-magic/styles';

@include ns('form-design') {
  &-left {
    .el-overlay {
      position: absolute;
    }
  }

  &-tabs {
    border: none;
    height: 100%;
    box-sizing: border-box;
    .el-tab-pane {
      height: 100%;
    }
  }
}
